// Hardware that only the physical keyboard halves have. Shared logic (matrix
// transform, trackpad input-splits / listeners / processors, physical layout)
// lives in lalapadgen2-common.dtsi, which the dongle also includes.
#include "lalapadgen2-common.dtsi"

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";
        row-gpios
            = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1  1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led0: led_0 {
            gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;  // red LED, connected to P1.03
        };
        led1: led_1 {
            gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;  // green LED, connected to P1.05
        };
        led2: led_2 {
            gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;  // blue LED, connected to P1.07
        };
    };

    easy_charge_indicator: easy_charge_indicator {
        compatible = "zmk,easy-charge-indicator";
        status = "okay";
        charge-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
        led-gpios = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
   };
};

// TrackPad on I2C
&xiao_i2c {
status = "okay";

    iqs9151: iqs9151@56 {
        compatible = "azoteq,iqs9151";
        reg = <0x56>;
        status = "okay";
        irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};
